body {
  background: url("./images/bg-1.png") no-repeat;
  background-color: #070709;
  color: white;
}

.title {
  color: rgb(240, 193, 50);
  margin-bottom: 1 rem;
}

.box {
  margin-top: 50px;
}

.panel {
  margin-top: 2em;
}

.panel-heading {
  background-image: linear-gradient(to left,#000000, #F0c132);
  background-color: black;
  color: white;
}

.address-box {
  padding: 3em;
}

.box .title {
  color: rgb(0, 0, 0);
}

.navbar {
  background-color: black;
}

.navbar .navbar-item {
  color: rgb(247, 247, 247);
}

.connect-wallet span {
  color: #F0c132;
}

.connect-wallet:hover {
  background-color: #f7f7f7 !important;
}

.container.main-content {
  max-width: 1000px !important;
}

.faucet-hero-body {
  margin-top: 100px;
}

.withdraw-error {
  color: red;
}

.withdraw-success {
  color: green;
}